<h1>Signup!</h1>

<%= form_for @user do |f| %>

  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <strong>The following errors prevented saving:</strong>
      <ul>
        <% f.object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="users-form">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <div class="users-form">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="users-form">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="users-form">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="users-form">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div >
    <%= f.submit "Submit", class: "users-form-button" %>
  </div>

<% end %>